body {
    width: auto;
    height: auto;
    overflow: auto;
}
#fdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#gdiv {
    display: grid;
}

#gdiv > * {
    border: 1px solid black;
    margin: 1px;
    padding: 1px;
}
