#gdiv {
    grid-template-columns: 1fr 2fr;
}

#title, #qrlink, #participantlink, #delete, #home, #print, #info {
    grid-column: 1 / -1;
    text-align: center;
}

#qr {
    aspect-ratio: 1 / 1;
}

@media print {
    .hide-on-print {
	display: none !important;
    }
}
