<html>
  <head>
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/csv.css" rel="stylesheet" />
  </head>
  <body>
    <div id="fdiv">
      <div id="gdiv">
	{{template "admin.tmpl"}}
	<input id="download" type="button" value="Download" />
      </div>
      <label id="status"></label>
    </div>
    <script src="/js/admin.js"></script>
    <script src="/js/csv.js"></script>
    {{template "sourcecode.tmpl"}}
  </body>
</html>
