<html>
  <head>
    <link href="/css/base.css" rel="stylesheet" />
  </head>
  <body>
    <div id="fdiv">
      <div id="gdiv">
	<label>Successfully Unregistered</label>
      </div>
    </div>
    {{template "sourcecode.tmpl"}}
  </body>
</html>
